#main-container {
    background:#2e3192;
    border: 1px solid #00000000;
    opacity: 1;
    min-height: 100vh;
    height: auto;
}

#manage-img {
    margin-top: 200px;
    background: transparent linear-gradient(180deg, #F0F5FF 0%, #DBFFED 100%) 0% 0%;
    border: none;
}

#right-part {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
}

#login-title {
/* font: normal normal bold 27px/70px Gotham; */
font-size: 27px;
letter-spacing: 0px;
color: #069DC5;
opacity: 1;
}

#h5-text {
    font: normal normal normal 18px/22px Gotham;
    letter-spacing: 0px;
    color: #A7A7A7;
    opacity: 1;
    
}

#text-style {
    font: normal normal 600 14px/21px Gotham;
letter-spacing: 0px;
color: #A7A7A7;
opacity: 1;
}

#input-fields {
    font: normal normal normal 14px/20px Gotham;
letter-spacing: 0px;
color: #A7A7A7;
opacity: 1;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
border-radius: 4px;
    height: 40px;
    /* background-image: url("utils/img/email-logo.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 8px;
    background-size: 22px; */

}

#input-fields2 {
    font: normal normal normal 14px/20px Gotham;
    letter-spacing: 0px;
    color: #A7A7A7;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    height: 40px;

    /* background-image: url("utils/img/password-logo.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 8px;
    background-size: 22px; */

}

#f-pass {

    text-align: right;
    font: normal normal 300 14px/21px Gotham;
    letter-spacing: 0px;
    color: #069DC5 !important;
    opacity: 1;
    margin-left: 55%;
}

#btn-setting {
    height: 2rem;
    height: 40px;
    background: #014296 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/18px Gotham;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


