textarea {
  resize: none;
}
.breadcrumb ::before {
  content: none !important;
}
.breadcrumb-1 {
  font: normal normal bold 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #000000;
}
.checkbox-input[type="checkbox"] {
  width: 5mm;
  height: 5mm;
}
.btn-bordered {
  border: 1px solid black;
}
.btn-style{
  border: none;
  background-color:#ffffff;
}
/* .btn-sizing{
  min-width:160px;
}

.table-style{
  /* border: 1px black solid;
 border-radius: 100px !important; */

.table-header{
  background-color: #2e3192;
  color: #ffffff;
  font: normal normal bold 14px Gotham;
}
