@media screen and (width<=768px) and (width>540px) {
  .btn-tablet-index-tournaments-btn-view {
    /* margin-right: 0px; */
    white-space: nowrap;
    min-width:  150px;
  }
}
@media screen and (width: 820px) {
  .btn-tablet-index-tournaments-btn-view {
    /* margin-right: 5px; */
    white-space: nowrap;
    min-width: 200px;
  }
}
@media screen and (width: 912px) {
  .btn-tablet-index-tournaments-btn-view {
    margin-right: 5px;
    white-space: nowrap;
    min-width: 200px;
  }
}
@media screen and (width: 1024px) {
  .btn-tablet-index-tournaments-btn-view {
    margin-right: 5px;
    white-space: nowrap;
    min-width: 200px;
  }
}
@media screen and (width: 1280px) {
    .btn-tablet-index-tournaments-btn-view {
      margin-right: 5px;
      white-space: nowrap;
      min-width: 200px;
    }
  }
