.tournament-details{
    background-color: grey;
}
.input-filed-width{
    min-width: 15vw;
    height:50%;

}
.dropdown-input-width{
    min-height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.25rem;
    
}
.edit-button{
    min-width: 5vw;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-bottom: 0px;
}
.view-button{
    min-width: 7vw;
}
