.textbold{
    font: normal normal bold 16px/19px Gotham !important;
    letter-spacing: 0px;
    color: #000000; 
}
.textboldbtn{
    font: normal normal bold 16px/19px Gotham !important;
    letter-spacing: 0px;
    color: #000000; 
}