.button-add-location{
    min-width: 13vw;
    width: auto;
}
@media screen and (width>= 768px) {
    .bttn{
        
        width:120px;
       background-color: aqua !important;
       margin-right:100px !important;
       
        
    }
 }