.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  li{
    list-style: none;
  }
  nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 70px;
  }
  /* .nav-link{
    font-size: 15px;
  } */
  .userimage{
    position: absolute;
    left: 0;
  }
  .name{
    top: 20px;
    left: 1239px;
    width: 62px;
    height: 15px;
    text-align: left;
    font: normal normal bold 12px Gotham;
    letter-spacing: 0px;
    color: #DC0500;
    opacity: 1;
    pointer-events: none;
    text-decoration: none;
  }
  .role{
    top: 37px;
    left: 1239px;
    width: 32px;
    height: 12px;
    text-align: left;
    font: normal normal normal 10px Gotham;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    pointer-events: none;
    text-decoration: none;
  }
  /* .arrow{
    top: 32px;
    left: 1314px;
    width: 11px;
    height: 6px;
    /* transform: matrix(0, -1, 1, 0, 0, 0);
    background: transparent url('/Users/acc01/Downloads/OTTOHM/ottohm-Viacom18/src/utils/icons/arrow.svg') 0% 0% no-repeat padding-box; */
   /* opacity: 1;
  } */