.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  li{
    list-style: none;
  }
  nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  .nav-link{
    font-size: 25px;
  }
  .form{
    border-radius: 25px;
  }