.sidebar{
    background: #2e3192;
    color: lightgray;
    min-height: 100vh;
    height: auto;
    border: solid 2px;
    position: relative;
    transition: width 0.2s ease-in-out;
    
  }

 
 
  .link{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 15px;
     border: solid 1px #ffffff;
    gap: 15px;  transition: all 0.5s;
  }
  .link:hover{
    background-color:#ec1c24;
    transition: all 0.5s;
    color: #000;
  }
  .active{
    background-color:#ec1c24;
    color: #ffffff;
  }
  .icon{
    size: 15px;
    justify-content: space-around;
  }
  .link_text{
    margin-top: 5px;
    height: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
   
  }

  /* .textnormal{
    font: normal normal normal 15px/15px Gotham;
    color: #ffffff;
  } */
  @media (max-width: 768px) {
    .sidebar {
      width: 80px;
    }

  }