
@font-face{
  font-family: 'GothamBold';
  src: url('./utils/fonts/GothamBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamBook';
  src: url('./utils/fonts/GothamBook.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamMedium';
  src: url('./utils/fonts/GothamMedium.ttf') format('truetype');
}
.container-2{
  display: flex;
  height: 100%;
}
main{
  width: 100%;
}
.textnormal{
  font:15px'GothamBook' !important;
  letter-spacing: 0px;
  color: #000000; 
}
.textbold{
  font:15px 'GothamBold' !important;
  letter-spacing: 0px;
  color: #2e3192; 
}
.textmedium{
  font:15px 'GothamMedium' !important;
  letter-spacing: 0px;
  color: #000000; 
}
.textboldbtn{
  font:13px 'GothamMedium' !important;
  font-weight:100;
  letter-spacing: 0px;
  color: #ffffff; 
  background-color: #2e3192;
}
.textSecondryBtn{
  font:13px 'GothamMedium' !important;
  font-weight:100;
  letter-spacing: 0px;
  color: #ffffff; 
}
.textboldbtn:hover{
  background-color: #ffffff;
  color: #2e3192;
  
}
.primary-btn{
  transition: all 0.7s ease 0s;
  position: relative; /* add a position property */
  overflow: hidden; /* hide the overflow content */
  box-shadow: 2px 2px 8px transparent !important;
  
}
.primary-btn:hover{
  border-color: #2e3192 !important;
  background-color: #2e3192 !important; 
  color: #FFFFFF;
  width: 99%;
  box-shadow: 2px 2px 8px black!important; /* add a box-shadow property */
}

.secondary-btn{
  color: #2e3192 !important;
  border-color: #2e3192 !important;
  background-color: #FFFFFF !important;
  box-shadow: 2px 2px 8px transparent !important;
  transition: all 0.7s ease 0s;
}
.secondary-btn:hover{
  
  border-color: #2e3192 !important;
  width: 99%;
  box-shadow: 2px 2px 8px black!important; /* add a box-shadow property */

}

label{
  font:13px 'GothamBold';
}
@media (max-width: 768px) {
  .container-2 {
    z-index: 1;
    position: relative;
  }
  .sidebar {
    z-index: 9999 !important;
    position: absolute !important;
    width: 50% !important;
    height: -webkit-fill-available !important;
  
  }
}