
@font-face{
  font-family: 'GothamBold';
  src: url('./utils/fonts/GothamBold.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamBook';
  src: url('./utils/fonts/GothamBook.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamMedium';
  src: url('./utils/fonts/GothamMedium.ttf') format('truetype');
}
.container-2{
  display: flex;
  height: 100%;
}
main{
  width: 100%;
}
.textnormal{
  font-family: 'GothamBook' !important;
  letter-spacing: 0px;
  color: #000000; 
}
.textbold{
  font-family: 'GothamBold' !important;
  letter-spacing: 0px;
  color: #000000; 
}
.textmedium{
  font-family: 'GothamMedium' !important;
  letter-spacing: 0px;
  color: #000000; 
}
.textboldbtn{
  font-family: 'GothamMedium' !important;
  font-weight:100;
  letter-spacing: 0px;
  color: #ffffff; 
  background-color: #2e3192;
}
.textboldbtn:hover{
  background-color: #ffffff;
  color: #2e3192;
  
}
.primary-btn:hover{
  border-color: #2e3192 !important; 
}

.secondary-btn{
  color: #2e3192 !important;
  border-color: #2e3192 !important;
  background-color: #FFFFFF !important;
  font: normal normal bold 16px Gotham !important;
}
.secondary-btn:hover{
  
  border-color: #2e3192 !important;
}
/* for create tournament page */
label{
  font-family: 'GothamMedium' !important;
  color: #000000;
}
a1{
  color: #000000;
  font: normal normal normal 16px/19px Gotham;
  font-weight: 600;
  /* text-align: left;
  justify-content: left; */
}
a2{
  color: #000000;
  font: normal normal normal 12px/16px Gotham;
  /* text-align: left;
  justify-content: left; */
}
/* for breadcrumb */
span{
  color: #000000;
  font: normal normal normal 16px/19px Gotham;
}


@media (max-width: 768px) {
  .container-2 {
    z-index: 1;
    position: relative;
  }
  .sidebar {
    z-index: 9999 !important;
    position: absolute !important;
    width: 50% !important;
    height: -webkit-fill-available !important;
  
  }
}