.textbold{
    font: normal normal bold 16px Gotham;
    color: #000000; 
}
.textboldbtn{
    font: normal normal bold 16px Gotham;
    color: #FFFFFF; 
}
.primary-btn:hover{
    border-color: #2e3192 !important; 
}